# Hitsuki example config

# Basic
TOKEN: "1573095785:AAEvmH6ZciLJmQuCeDLw1INZ9huLTbpEphg"

# Get they in https://my.telegram.org/
APP_ID: 1479154
APP_HASH: "6b21cb22818e09132fb904705c31d3a1"

MONGO_URI: localhost
MONGO_PORT: 27017
MONGO_DB: 'hitsuki'

REDIS_URI: localhost
REDIS_PORT: 6379
REDIS_DB_FSM: 1

OWNER_ID: 727037917
OPERATORS: [727037917, 00000000]

# Advanced
SENTRY_API_KEY: "https://e703a33a289f46b1ad72a7f13a52c18c@o509207.ingest.sentry.io/5603046"
SW_API: "U55U80fi5cbPgRlu84sGSDGb73y2OA1xjKQrOPoz3dmHMCv5J5uOYowgGydQ~2fX" 

DEBUG_MODE: False
LOAD_MODULES: True

ALLOW_FORWARDS_COMMANDS: False
ALLOW_COMMANDS_WITH_!: False
